-- MySQL dump 10.13  Distrib 8.0.39, for Win64 (x86_64)
--
-- Host: localhost    Database: word_scramble
-- ------------------------------------------------------
-- Server version	8.0.39

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `e`
--

DROP TABLE IF EXISTS `e`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `e` (
  `words` varchar(15) NOT NULL,
  `meaning` varchar(50) DEFAULT NULL,
  PRIMARY KEY (`words`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `e`
--

LOCK TABLES `e` WRITE;
/*!40000 ALTER TABLE `e` DISABLE KEYS */;
INSERT INTO `e` VALUES ('coat','u want it in winters!!'),('door','close it or theif will enter'),('egg','rich in protein'),('flower','colorful and blossoming'),('garden','full of flowers'),('ground','synonym for earth'),('party','enjoy it!!'),('shower','you take it to keep yourself neat and clean'),('table','you study on it'),('toy','kids love it');
/*!40000 ALTER TABLE `e` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `h`
--

DROP TABLE IF EXISTS `h`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `h` (
  `words` varchar(20) NOT NULL,
  `meaning` varchar(50) DEFAULT NULL,
  PRIMARY KEY (`words`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `h`
--

LOCK TABLES `h` WRITE;
/*!40000 ALTER TABLE `h` DISABLE KEYS */;
INSERT INTO `h` VALUES ('gale','a strong wind'),('garment','an item of clothing'),('gaze','a steady intent look'),('havoc','a wide destruction'),('hostile','unfriendly'),('idle','lazy or inactive'),('insane','mentally ill'),('jovial','cheerful'),('junk','old or discarded items'),('kindle','light or set on fire');
/*!40000 ALTER TABLE `h` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `m`
--

DROP TABLE IF EXISTS `m`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `m` (
  `words` varchar(15) NOT NULL,
  `meaning` varchar(50) DEFAULT NULL,
  PRIMARY KEY (`words`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `m`
--

LOCK TABLES `m` WRITE;
/*!40000 ALTER TABLE `m` DISABLE KEYS */;
INSERT INTO `m` VALUES ('abandon','look after someone'),('abolish','formally put an end to'),('accelerate','rate of change of velocity'),('advocate','synonym of lawyer'),('ballad','a poem or song that narrates a story'),('bedlam','a scene of uproar and confusion'),('cringe','feeling of awkwardness'),('desolate','unhappiness'),('dismantle','take to pieces'),('fasten','close up securely');
/*!40000 ALTER TABLE `m` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `scores`
--

DROP TABLE IF EXISTS `scores`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `scores` (
  `score` int DEFAULT NULL,
  `username` varchar(15) NOT NULL,
  PRIMARY KEY (`username`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `scores`
--

LOCK TABLES `scores` WRITE;
/*!40000 ALTER TABLE `scores` DISABLE KEYS */;
INSERT INTO `scores` VALUES (1,'chintu'),(11,'eela'),(6,'gennie'),(11,'hi'),(2,'palak'),(22,'sakura'),(1,'SHAINA'),(5,'sheela');
/*!40000 ALTER TABLE `scores` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `user_detail`
--

DROP TABLE IF EXISTS `user_detail`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `user_detail` (
  `username` varchar(50) NOT NULL DEFAULT 'new user',
  `user_id` varchar(30) DEFAULT NULL,
  `passwd` varchar(30) DEFAULT NULL,
  PRIMARY KEY (`username`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `user_detail`
--

LOCK TABLES `user_detail` WRITE;
/*!40000 ALTER TABLE `user_detail` DISABLE KEYS */;
INSERT INTO `user_detail` VALUES ('chintu','chintu123','1234'),('eela','e34','weee'),('gennie','e7','123e'),('hi','de','fe'),('palak','pal23','123'),('sakura','sak67','1we'),('SHAINA','sh334','aee'),('sheela','sh23','123');
/*!40000 ALTER TABLE `user_detail` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-06-14 12:23:00
